/* This file is for your main application css. */

/* Just inserting random scss of mine, anyway */

@import "form";

.user-list {
  ul {
    list-style-type: none;
  }

  a {
    cursor: pointer;
  }
}

form {
  margin-bottom: 20px !important;
  text-align: center;
  button {
    width: 33.3%;
    margin-top: -15px;
  }
}

.panel-title {
  a {
    display: block;
  }
}

.radio-label {
  font-family: 'Open Sans';
  color: $blue;
  text-transform: uppercase;
  letter-spacing: .05em;
  vertical-align: top;
  margin: 0 10px;
}

/* Source https://stackoverflow.com/questions/4810841/how-can-i-pretty-print-json-using-javascript */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
